.node circle {
    transition: all 0.3s ease;
}

.node text {
    font-size: 10px;
    pointer-events: none;
    fill: var(--color-text);
}

.link {
    stroke: var(--color-neutral);
    stroke-opacity: 0.6;
    transition: all 0.3s ease;
}

.link.highlight ed {
    stroke-opacity: 1;
}

.node.faded,
.link.faded {
    opacity: 0.3;
}